$schemeLight: (
    ( /* colors */
	#1d1f21,
	#cc6666,
	#b5bd68,
	#f0c674,
	#81a2be,
	#b294bb,
	#8abeb7,
	#c5c8c6,
	#969896,
	#cc6666,
	#b5bd68,
	#f0c674,
	#81a2be,
	#b294bb,
	#8abeb7,
	#ffffff
    ),
    #373b41, /* foreground */
    #ffffff  /* background */
);


$schemeDark: (
    ( /* colors */
	#1d1f21,
	#cc6666,
	#b5bd68,
	#f0c674,
	#81a2be,
	#b294bb,
	#8abeb7,
	#c5c8c6,
	#969896,
	#cc6666,
	#b5bd68,
	#f0c674,
	#81a2be,
	#b294bb,
	#8abeb7,
	#ffffff
    ),
    #c9c5ce, /* foreground */
    #121015  /* background */
);

$terminalSexyColors: $schemeDark;

$reactiveVerticalCrossover: 1550px;
