@import "style";

#md {
    .title {
	font-size: 4.5em;
	text-align: center;
	margin: 0.25em;
	text-decoration: underline;
    }

    h1:not(.title) {
	text-decoration: underline;
	color: nth(nth($terminalSexyColors, 1), 3);
    }

    th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: nth(nth($terminalSexyColors, 1), 5);
    }

    td, th {
	border: 1px solid nth(nth($terminalSexyColors, 1), 1);
	padding: 8px;
    }

    p {
	font-size: 1.5em;
    }
}
