@import "style";

footer {
    background: nth(nth($terminalSexyColors, 1), 1);
    font-weight: bold;
    text-shadow: 1px 1px nth(nth($terminalSexyColors, 1), 1);
    color: nth(nth($terminalSexyColors, 1), 16);
    font-size: 1.5em;
    padding: 0.5em 0;
    
    position:fixed;
    bottom:0;
    width:100%;
    left: 0;
    
    @media (max-width: $reactiveVerticalCrossover) {
	position: static;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    div {
	@media (max-width: $reactiveVerticalCrossover) {
	    flex-basis: 50%;
	}
	
	text-align: center;
	flex-base: min-content;
	height: 60px;

	a {
	    height: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    
	    color: nth(nth($terminalSexyColors, 1), 2);
	    text-decoration-color: currentcolor;
	    
	    span {
		display: inline-block;
		vertical-align:middle;
	    }
	    
	    img {
		margin: 0 1em;
		height: 100%;
	    }
	}
    }
}

footer#hidden {
    visibility: hidden;
    position: relative;
    bottom: auto;
}
