@import "style";

$navButtonColors: (
    nth(nth($terminalSexyColors, 1), 9)
    nth(nth($terminalSexyColors, 1), 12)
    nth(nth($terminalSexyColors, 1), 10)
    nth(nth($terminalSexyColors, 1), 13)
    nth(nth($terminalSexyColors, 1), 11)
);

.nav {
    $reactiveVerticalCrossover2: 1150px;
    
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    // max-width: var(--breakpoint);
    text-align: center;

    flex-direction: row;
    @media (max-width: $reactiveVerticalCrossover) {
	flex-direction: column;
    }

    .primary {
	align-items: flex-start;
	display: flex;
	flex: 1 0 25%;
	justify-content: flex-start;
	@media (max-width: $reactiveVerticalCrossover) {
	    justify-content: center;
	}

	h1 {
	    text-align: center;
	    margin-bottom: 0;
	    margin: 0.1em 0.1em 0 0.1em;

	    a {
		color: nth($terminalSexyColors, 2);
		text-decoration: none;
		text-decoration-color: currentcolor;
		font-size: 1.5em;
		text-transform: uppercase;

		span {
		    display: block;
		}
	    }
	}
    }

    .secondary {
	display: flex;
	flex: 1 0 72%;
	margin-bottom: 0.8rem;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 1em;
	margin-left: 1em;
	@media (max-width: $reactiveVerticalCrossover) {
	    justify-content: center;
	}

	div {
	    flex-grow: 0.5;
	    font-size: 2em;
	    display: flex;
	    flex-direction: row;
	    justify-content: flex-end;
	    span {
		text-align: center;
		flex-basis: 27.5em;
		flex-grow: 0.5;
		font-weight: bold;
		@media (max-width: $reactiveVerticalCrossover) {
		    flex-basis: min-content;
		    flex-grow: 1;
		}

		a {
		    color: nth(nth($terminalSexyColors, 1), 2);
		}
	    }
	}

	nav {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: end;
	    @media (max-width: $reactiveVerticalCrossover) {
		justify-content: center;
	    }

	    a {
		flex-grow: 0.1;
		@media (max-width: $reactiveVerticalCrossover) {
		    flex-grow: 1;
		}
		@media (max-width: $reactiveVerticalCrossover2) {
		    flex-basis: 21%;
		}
		margin: 2.5px 2.5px 0;
		transform: skewX(-25deg) translateY(1px);
		padding: 0.5em 1em;
		border-radius: 0;
		color: nth(nth($terminalSexyColors, 1), 16);
		text-decoration: none;
		text-decoration-color: currentcolor;
		font-weight: bold;

		span {
		    transform: skewX(25deg);
		    display: inline-block;
		    font-size: 2em;
		    text-shadow: 1px 1px nth(nth($terminalSexyColors, 1), 1);
		}

	    }
	    @for $i from 1 through length($navButtonColors) {
		a:nth-child(#{$i}) {
		    background: nth($navButtonColors, $i);
		}
	    }
	}
    }
}

