$schemeLight: (
    ( /* colors */
	#1d1f21,
	#cc6666,
	#b5bd68,
	#f0c674,
	#81a2be,
	#b294bb,
	#8abeb7,
	#c5c8c6,
	#969896,
	#cc6666,
	#b5bd68,
	#f0c674,
	#81a2be,
	#b294bb,
	#8abeb7,
	#ffffff
    ),
    #373b41, /* foreground */
    #ffffff  /* background */
);


$schemeDark: (
    ( /* colors */
	#1d1f21,
	#cc6666,
	#b5bd68,
	#f0c674,
	#81a2be,
	#b294bb,
	#8abeb7,
	#c5c8c6,
	#969896,
	#cc6666,
	#b5bd68,
	#f0c674,
	#81a2be,
	#b294bb,
	#8abeb7,
    #ffffff
    ),
    #c9c5ce, /* foreground */
    #121015  /* background */
);

$terminalSexyColors: $schemeDark;

$navButtonColors: (
    nth(nth($terminalSexyColors, 1), 9)
    nth(nth($terminalSexyColors, 1), 12)
    nth(nth($terminalSexyColors, 1), 10)
    nth(nth($terminalSexyColors, 1), 13)
    nth(nth($terminalSexyColors, 1), 11)
);

body {
    background: nth($terminalSexyColors, 3);
    color: nth($terminalSexyColors, 2);
    font-family: sans-serif;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    // max-width: var(--breakpoint);
    text-align: center;

    flex-direction: row;
    @media (max-width: 800px) {
	flex-direction: column;
    }

    .primary {
	align-items: flex-start;
	display: flex;
	flex: 1 0 30%;
	justify-content: flex-start;
	@media (max-width: 800px) {
	    justify-content: center;
	}

	h1 {
	    text-align: center;
	    margin-bottom: 0;
	    margin: 0.5em 0;

	    a {
		color: nth(nth($terminalSexyColors, 1), 15);
		text-decoration: none;
		text-decoration-color: currentcolor;
		font-size: 1.5em;
		text-transform: uppercase;

		span {
		    display: block;
		}
	    }
	}
    }

    .secondary {
	display: flex;
	flex: 1 0 65%;
	margin-bottom: 0.8rem;
	flex-direction: column;
	justify-content: flex-end;
	@media (max-width: 800px) {
	    justify-content: center;
	}

	nav {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: end;
	    @media (max-width: 800px) {
		justify-content: center;
	    }

	    a {
		flex-grow: 0.1;
		@media (max-width: 800px) {
		    flex-grow: 0.3;
		}
		@media (max-width: 540px) {
		    flex-basis: 20%;
		}
		margin: 0 1px;
		transform: skewX(-25deg) translateY(1px);
		padding: 0.5em 1em;
		border-radius: 0;
		color: nth(nth($terminalSexyColors, 1), 16);
		text-decoration: none;
		text-decoration-color: currentcolor;
		font-weight: bold;

		span {
		    transform: skewX(25deg);
		    display: inline-block;
		}

	    }
	    @for $i from 1 through length($navButtonColors) {
		a:nth-child(#{$i}) {
		    background: nth($navButtonColors, $i);
		}
	    }
	}
    }
}

