<!DOCTYPE HTML>
<html>
  <head>
    <title>
      {% block title %}
      {{ config.extra.title }}
      {% endblock %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel = "stylesheet" type = "text/css" href = "/nav.css">
    <link rel = "stylesheet" type = "text/css" href = "/footer.css">
  </head>
  <body>
    {% include "nav.html" %}
    {% block content %}
    {% endblock %}
  </body>
  <footer>
    {% include "footer.html" %}
  </footer>
</html>
