<!DOCTYPE HTML>
<html>
  <head>
    <title>
      {% block title %}
      {{ config.extra.title }}
      {% endblock %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" type="image/png" href="/images/gallery/gwyn/RamLogoSmall.png" />
    <link rel = "stylesheet" type = "text/css" href = "/nav.css">
    <link rel = "stylesheet" type = "text/css" href = "/footer.css">
    <link rel = "stylesheet" type = "text/css" href = "/common.css">
    <link rel = "stylesheet" type = "text/css" href = "/content.css">
    <link rel = "stylesheet" type = "text/css" href = "/team.css">
    <link rel = "stylesheet" type = "text/css" href = "/gallery.css">
  </head>
  <body>
    <div id="content">
      {% include "nav.html" %}
      <div id="md">
	{% block content %}
	{% endblock %}
      </div>
    </div>
  </body>
  <footer id="hidden">
    {% include "footer.html" %}
  </footer>
  <footer>
    {% include "footer.html" %}
  </footer>
</html>
