<div>
  <a href="https://advancing.colostate.edu/ENG/ECE_SRDESIGN/GIVE">
    <img src="{{config.base_url}}/images/ECEgive.gif">
  </a>
</div>
<div>
  <a href="http://www.engr.colostate.edu/ECE401/AY21_senior_design_projects.php">
    <span>
      Other ECE Sr. Design Projects
    </span>
  </a>
</div>
<div>
  <a href="http://www.engr.colostate.edu/ece/index.php">
    <img src="{{config.base_url}}/images/ECElogo.png">
  </a>
</div>
<div>
  <a href="http://www.colostate.edu/">
    <img src="{{config.base_url}}/images/csu-logo.png">
  </a>
</div>
