{% set section = get_section(path="_index.md") %}

<div class="nav">
  <div class="primary">
    <h1>
      <a href="/">
	<img src="/images/gallery/RamLogoLarge.png" width="220">
	<span>RamBots</span>
      </a>
    </h1>
  </div>
  <div class="secondary">
    <div>
      <span class="link">
	An <a href="{{ config.extra.ECEOutreachMainSiteLink }}">ECE Outreach</a> Project
      </span>
    </div>
    <nav>
      {% for page in section.pages %}
      <a href="{{ page.path }}">
	<span>
	  {{ page.title }}
	</span>
      </a>
      {% endfor %}
    </nav>
  </div>
</div>
