{% extends "site-tab.html" %}
{% import "member.html" as membermacros %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>

<h1>
  Senior Design Members
</h1>

{% set section = get_section(path="team_members/senior_design/_index.md") %}
<div class="team_member_container">
  {% for page in section.pages %}
  {{ membermacros::makemember(page=page) }}
  {% endfor %}
</div>

<h1>
  VIP Students
</h1>

{% set section = get_section(path="team_members/vip/_index.md") %}
<div class="team_member_container">
  {% for page in section.pages %}
  {{ membermacros::makemember(page=page) }}
  {% endfor %}
</div>

<h1>
  Industry Members
</h1>

{% set page = get_page(path="team_members/industry.md") %}

{{ page.content | safe }}

{% endblock content %}
